{% extends "base.html" %}
{% block content %}
<ol>
{% for link in object_list %}
<form method="post" action="{% url 'vote' %}" class="vote_form">
    <li> 
        {% csrf_token %}
        <input type='hidden' id="id_link" name="link" class="hidden_id" value="{{ link.pk }}"/>
        <input type='hidden' id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}"/>
        <button>^</button><!-- change to up arrow -->
        [{{link.votes}}]
        <a href="{{link.url}}"><!--alternative: to link_detail-->
            <b>{{link.title}}<b>
        </a>
    </li>
</form>
{% endfor %}
</ol>
{% endblock %}
